
NN_library/PINN/__pycache__/PINN.cpython-311.pyc
/NN_library/PINN/__pycache__
/__pycache__
/NN_library/__pycache__
/NN_library/__pycache__
/NN_library/__pycache__
/NN_library/__pycache__
/NN_library/__pycache__
